.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 10vh;
}
.presentation h1{
    font-weight: 700;
    font-size: 2.7rem;
}
.imgAboutMe{
    /* max-width: 50%; */
     height: 60vh;
     position: absolute;
     left: 70%;
     /*bottom: -47vh;*/
 }

.presentationName{
    color: yellow;
    font-size: 1.7rem;        /* Subtítulo: tu rol */
  font-weight: 500
}
.parrafo{
    font-size: 1.2rem; 
    text-align: center;
    text-wrap: balance;
    max-width: 750px;
  }


@media (max-width: 768px){
    .presentation{
        padding: 5px;
        margin-top: 6vh;
    }
}