.projectContainer{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.projectCardContainer{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;

}
.projectTitle{
    color: yellow;
    margin: 20px 0;
}

@media (max-width: 1340px){
    .projectCardContainer{
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        padding-left: 5px;
        align-items: center;
    }
}