.ProjectCard{
    display: flex;
    background-color: rgb(255, 255, 255, 0.1);
    border: solid 1px black;
    border-radius: 8px;
    overflow: hidden;
    width: 600px;
    cursor: default;
    position: relative;
    transition: box-shadow 0.3s ease;
}
.ProjectCard::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle at center, rgba(0, 241, 241, 0.2)0%, transparent 60%);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 1;
  }
  
  .ProjectCard:hover::before {
    opacity: 1;
  }
.ProjectCard img{
    width: 60%;
}
.ProjectCard article{
    padding: 5px;
}
.ProjectCard ul{
    list-style: none;
    text-align: start;
    padding-left: 5px;
}
.ProjectCard p{
    text-align: start;
    padding-left: 5px;
}
.CardContent {
    display: flex;
    width: 100%;
    transition: filter 0.3s ease
  }
  
  .ProjectCard:hover .CardContent {
    filter: blur(3px);
  }

/* Contenedor de los íconos que aparece en hover */
.TechOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 3rem;
    color: white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.TechOverlay h5{
    position: absolute;
    bottom: 5rem;
    font-size: 1rem;
}
/* Mostrar íconos al hacer hover */
.ProjectCard:hover .TechOverlay {
    opacity: 1;
    pointer-events: all;
    filter: none; /* Para que los íconos no se vean borrosos */
}

@media (max-width: 786px){
    .ProjectCard{
        width: 95%;
    }
    .CardContent{
        flex-direction: column;
    }
    .ProjectCard ul{
        list-style:circle;
        padding-left: 20px;
    }
    .ProjectCard img{
        width: 100%;
    }
    
}