.skillsSection {
    padding: 3rem 2rem;
    /*background-color: rgb(255, 255, 255, 0.1);*/
    text-align: center;
    width: 60%;
    font-size: 1.4rem;
    border-radius: 8px;
    color: black;
    /*border: 1px solid rgb(255, 255, 255, 0.1);*/
  }
  
  .skillsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2.5rem;
    max-width: 750px;
    margin: 0;
    padding: 2rem;
    overflow: visible;
  }

  .title{
    color: white;
  }
  
.skillContain{
  margin: 0;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}