  
  .card {
    text-align: start;
    border: 1px solid rgb(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 1rem;
    background-color: rgb(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px #0000001a;
    height: 100%;
    display: flex;
    color: white;
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    padding: 1rem 1rem;
    flex-direction: column;
  }
  .paragraph{
    font-size: 1.1rem;      /* equivalente a 16px en la mayoría de los navegadores */
    line-height: 1.6;     /* mejora la legibilidad */
    max-width: 800px;     /* evita que las líneas se hagan demasiado largas */
    margin-bottom: 1rem;  /* separación entre párrafos */
    
  }

  .cardContain{
    gap: 10px
  }

  .title{
    margin: 20px;
    color: yellow;
  }
  .icon{
    max-width: 250px;
    max-height: 100px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
  }
  .subtitle{
    position: center;
  }
  .separador{
    display: flex;
    flex-direction: row;
    gap: 20px
  }