.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 91%;
}
.section{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 90%;
}