@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.navbar{
    background-color: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    height: 45px;
    position: fixed;
    width: 100vw;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    z-index: 1000;
    display: flex
;
    flex-direction: row;
    align-items: center;
    /* padding-inline: 2rem; */
    padding: 10px;
    justify-content: center; 
}
@media (max-width: 425px) {
    /* Estilos para tablets y celulares */
    .navbar{
        opacity: 0;
    }
    
  }
@media (max-width: 768px){
    .separator{
        top:5rem
    }
}
.navbar h1{
    font-family: 'Dancing Script', cursive;;
    font-size: 2.5rem;
    margin-left: 1rem;
}

.iconContain{
    width: 20rem;
    display: flex;
    justify-content: space-around;
}

.iconContain a{
    transition: 0.3s;
    cursor: pointer;
    color: white;
}
.iconContain a:hover{
    transform: scale(1.1);
}


.icon{
    height: 3rem;
    width: 3rem;
}

/* Language Switcher Styles */
.langButtons{
    gap: 0.5rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.langButtons button {
  padding: 6px 10px;
  
  border-radius: 6px;
  cursor: pointer;
  
  font-size: 18px;
  transition: background-color 0.2s ease;
}

.langButtons button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.active {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 1px solid rgb(0, 0, 0);
}
.inactive{
    border: 1px solid white;
  color: white;
  background-color: transparent;
}
.separator{
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-direction: row;
    position: absolute;
    left: 1rem;
}
.navButton{
    padding: 6px 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s ease;

    color: #818cf8;

    font-weight: 600;
    background-color: transparent;
    text-decoration: none;
    height: 100%;
}
.navButton:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease;
}
.navContain{
    display: flex;
    height: 100%;
    gap: 2rem;
}