.icon{
    width: 3.2rem;
    height: 3.2rem;
    padding: 0.2rem;
    transition: 0.3s;
    
}
.container{
    margin-bottom: 50px;
}
.iconContainer{
    display: flex;
    flex-direction: row;
    margin: 35px;
    border-radius: 8px;
    justify-content: space-around;
    position: relative;
    align-items: center;
    gap: 4rem;
}
.iconContainer a{
    border: 1px solid gray;
    border-radius: 8px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 8px;
    color: white;
    text-decoration: none;
}
.iconContainer a:hover{
    transform: scale(1.2);
    transition: 0.3s;
    cursor: pointer;
}
.copyMsg{
    position: absolute;
    bottom: 50px;
    background-color: white;
    width: 18rem;
    color: black;
    border-radius: 8px;
    z-index: 999;
}

.tooltip {
    position: absolute;
    bottom: 120%; /* o top: -1.5rem; */
    background-color: white;
    color: black;
    padding: 4px 8px;
    font-size: 1rem;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
  }
  
  .iconContainer:hover .tooltip {
    opacity: 1;
  }

  .CVButton{
    width: 210px;
    font-size: 1.5rem;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: 2px solid rgb(255, 255, 255, 0.1);
    color: white;
    cursor: pointer;
  }
  .CVButton:hover{
    border: 2px solid rgb(138, 0, 0);

  }
  .techsList{
    display: flex;
    flex-direction: row;
    height: 6rem;
    color: white;
    margin: 1rem;
    justify-content: space-around;
  }

  .skill {
  background: #1e1e24; /* Mismo fondo gris oscuro de los componentes anteriores */
  border: 1px solid rgba(255, 255, 255, 0.08); /* Borde muy sutil */
  border-radius: 12px;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: default; /* O pointer si planeas que sean clickeables */
  position: relative;
  overflow: hidden;
  margin: 0;
}
.skill img{
  height: 48px;
  width: 48px;
}


  @media (max-width: 786px){
    .CVButton{
        width: 90vw;
    }
    .iconContainer{
      flex-direction: column;
      gap: 1rem;
    }
  }